<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Информация о пользовате</title>
</head>
<body>
    
    <h2>
        Данные пользователя <i>{{login}}</i>:
    </h2>

    <div style="background: rgb(134, 188, 238); margin-bottom: 10px; padding: 5px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        Возраст: {{age}}
        <br>
        Хобби: {{hobby}}
    </div>

</body>
</html>