body {
    margin-inline-end: auto;
    background: rgb(237, 238, 240);
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.btn-class {
    padding: 6px;
    background: rgb(74, 118, 168);
    color: white;
    cursor: help;
    display: inline-block;
}