<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Машины и склады</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <h1>Сервис управления складами</h1>
    <h3>Поиск машины</h3>
    <p>Введите название:</p>
    <input id="field-name" type="text" spellcheck="false" autocomplete="off">
    <br>
    <br>
    <input id="send-btn" type="submit" value="Найти" class="btn-class">

    <br>
    <h3 id="result-title"></h3>
    <p id="result-name"></p>  
    <p id="result-cost"></p>

    <script>
        "use strict";

        function ajaxGet(urlString, callback) {
            let r = new XMLHttpRequest();
            r.open("GET", urlString, true);
            r.setRequestHeader("Content-Type", "text/plain;charset=UTF-8");
            r.send(null);
            r.onload = function() {
                callback(r.response);
            };
        };

        window.onload = function() {
            // input fields
            const f_name = document.getElementById("field-name");
            // button
            const btn = document.getElementById("send-btn");
            // Output fields
            const out_title = document.getElementById("result-title");
            const out_name = document.getElementById("result-name");
            const out_cost = document.getElementById("result-cost");

            function show_car(obj) {
                out_title.innerHTML = 'Результат поиска:';
                out_name.innerHTML = `Название:  ${obj.name}`;
                out_cost.innerHTML = `Стоимость: ${obj.cost}`;
            }

            function show_void() {
                out_title.innerHTML = 'Не найдено';
                out_name.innerHTML = ``;
                out_cost.innerHTML = ``;
            }

            // click event
            btn.onclick = function() {
                const name = f_name.value;
                const url = `/select/car?name=${name}`;

                ajaxGet(url, function(stringAnswer) {
                    console.log(stringAnswer);
                    if (stringAnswer)
                    {
                        const objectAnswer = JSON.parse(stringAnswer);
                        if (objectAnswer.name != "")
                            show_car(objectAnswer);
                        else {
                            show_void();
                            alert(`Машина с названием ${name} не найдена`);
                        }
                    }
                    else {
                        show_void();
                        alert(`Машина не найдена`);
                    }
                });
            };
        };
    </script>
</body>
</html>